<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
  <title><%= title %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link href="/stylesheets/blurt.css" media="screen" rel="stylesheet" type="text/css" />
  <link rel="alternate" type="application/rss+xml" title="RSS" href="<%= feed_url %>" />
</head>
<body>
  <div id="main">
    <div id="header">
      <%= link_to 'blurt. rhymes with dirt.', root_url %>
    </div>
    <%= yield %>
    <div id="footer">
      powered by <%= link_to 'blurt', 'http://github.com/reagent/blurt '%>.
    </div>
  </div>

</body>
</html>